doctype html
html
  head
    title impress.js Remote
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css')
    link(rel='stylesheet', href='/stylesheets/joydiv-skin-default.css')
    style(type='text/css')
      
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js')
    script(src='/javascripts/joydiv.js')
    script(src='/socket.io/socket.io.js')
    script.
      $(function(){
        $('#slides').hide();

        $('#remoteBtn').live('vclick', function(){
          $('#remote').show();
          $('#slides').hide();
        });
        $('#slidesBtn').live('vclick', function(){
          $('#remote').hide();
          $('#slides').show();
        });

        var slideId = '#{slide.slideId}';
        var steps = !{JSON.stringify(slide.steps)};
        var socket = io.connect();
  
        socket.on('connect', function(){
          socket.emit('mobile_start', {slideId: slideId});
        });

        socket.on('no_slide_socket', function(){
          socket.disconnect();
          alert("No Remote Slides");
        });

        socket.on('current_step', function(data){
          for(var s = 0; s < steps.length; s++){
            if(steps[s].id == data.currStepId){
              $('#stepContent').text(steps[s].text);
              break;
            }
          }    
        });

        $('#next').click(function(){
          socket.emit('mobile_next', {slideId: slideId});
        });
        
        $('#prev').click(function(){
          socket.emit('mobile_prev', {slideId: slideId});
        });
        
        $('.slideStep').live('vclick', function(){
          var stepId = $(this).attr('data');
          socket.emit('mobile_step', {stepId: stepId});
        });

        // controller
        var element = document.getElementById('controller');
        var joydiv = new JoydivModule.Joydiv({'element':element});
      });
    
  body
    div(data-role='page')
      div(data-role='header')
        h1 impressjs remote
        div(data-role='navbar', data-iconpos='bottom')
          ul
            li  
              a#remoteBtn(href='#', data-icon='gear', class='ui-btn-active') Remote
            li
              a#slidesBtn(href='#', data-icon='grid') Slides
      div#remote(data-role='content')
        fieldset.ui-grid-a
          div.ui-block-a
            a#prev(href='#', data-role='button', data-shadow='false', data-icon='arrow-l', data-iconpos='top') Prev
          div.ui-block-b
            a#next(href='#', data-role='button', data-shadow='false', data-icon='arrow-r', data-iconpos='top') Next
        div
          div(style='height:50px')
           h3 Contents
          div#stepContent
        div.controller
          div#controller.joydiv-controller
            div.joydiv-up
            div.joydiv-left
            div.joydiv-right
            div.joydiv-down
            div.joydiv-trackpad
              div.joydiv-tracker
      div#slides(data-role='content')
        div(data-role='collapsible-set')
          - slide.steps.forEach(function(step){
              div(data-role='collapsible')
                h3.slideStep(data='#{step.id}') #{step.id}
                p #{step.text}
          - })